<div class="content-memo">
  <div class="col-md-12">
    <div class="page-header">
      <h3 class=""><%= @user.user_department.description.titleize %></h3>
    </div>
    <% if false %>
      <%= render 'message' %>
    <% end %>
    <div class="col-md-8 col-md-offset-2">
      <%= form_for @advisory, url: { controller: 'advisory', action: 'update' }, html: { class: 'form-horizontal' } do |f| %>
        <% if params[:add].blank? %>
          <%= f.hidden_field 'connect_adv_id', value: @adv %>
          <div class="panel panel-default">
            <div class="panel-heading">
              Advisory Header
            </div>
            <div class="panel-body">
              <div class="form-group">
                <div class="col-sm-6">
                  <label class="form-label">Recipient:</label>
                  <%= f.select :recipients, options_for_select(UserDepartment.where(status_id: 1, is_enable: true).where.not(id: [1]).order(:code).collect { |u| [u[:code], u[:id]] }), {}, id: 'recipient-select', class: 'form-control', multiple: 'multiple', required: true %>
                </div>
                <div class="col-sm-6">
                  <label class="form-label">Incoordination with:</label>
                  <%= f.select :incoordinate_with, options_for_select(User.where(status_id: 1, is_enable: true).where.not(id: [@user.id]).order(:email).collect { |u| ["#{u.first_name}_#{u.user_department.code}", u[:id]] }), {}, id: 'incoordinate-select', class: 'form-control', multiple: 'multiple', required: true %>
                </div>
                <% if params[:sid].blank? && @user.user_department_id == 8 && false %>
                  <div class="col-sm-6">
                    <label class="form-label">Attach advisory:</label>
                    <%= select('','advisory[connect_adv_id]', options_for_select(Advisory.where.not("advisory_code ilike 'OCC%'").order(:advisory_code).collect { |a| [a.advisory_code, a.id] }), {}, id: 'incoordinate-select', class: 'form-control') %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else%>
          <%= f.hidden_field 'add_adv_id', value: @adv %>
          <%= f.hidden_field 'adv_sid', value: params[:sid] %>
        <% end %>
        <%= hidden_field_tag nil, nil, name: 'advisory[advisory_reasons_attributes][0][id]', value: @advisory_reason.id %>
        <%= render "admin/advisory/edit_fields/primary_reason" %>
        <%= render "admin/advisory/edit_fields/advisory_category_fields" %>
        <div id="edit-additional"></div>

        <div class="text-right" style="margin-bottom: 30px;">
          <%= link_to 'Cancel', :back, class: 'btn btn-primary' %>
          <%= f.button 'Save', class: 'btn btn-primary' %>
        </div>

      <% end %>

    </div>
  </div>
</div>

<% content_for :header do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".select-category").each(function(){
        select_category_fields($(this));
      });
      
      $("#recipient-select").val(<%= @advisory.recipients.join(',') unless @advisory.blank? %>).trigger('change');
      $("#incoordinate-select").val(<%= @advisory.incoordinate_with.join(',') unless @advisory.blank? %>).trigger('change');
    });

    function add_category() {
      var id = Math.floor((Math.random() * 10000000) + 1);
      var category_count = $(".additional-category").length + 1;
      var html = '<div class="panel panel-default additional-category" id="additional-category'+id+'">'
                + '<div class="panel-heading">'
                + 'Additional Category'
                + '<button onclick="delete_category('+id+')" class="btn-link pull-right">'
                + '<span class="glyphicon glyphicon-trash"></span>'
                + '</button>'
                + '</div>'
                + '<div class="panel-body" data-id="'+id+'">'
                + "<%= escape_javascript("#{ render "/admin/advisory/edit_fields/edit_advisory_category_fields", ac: nil, cnt: 0 }").html_safe %>"
                + '</div></div></div>';
      // $("#panel-category").append(html);
      $("#edit-additional").append(html);
      init(true);

      if ($("#select-category").length > 0) {
        select_category_fields($("#additional-category" + id).find("#select-category"));
        $("#additional-category" + id).find("#select-category").on('change', function(){
          select_category_fields($(this));
        });
      }
      // select_category($("#additional-category" + id).find("#select-category"));
      // select_advisory_category($("#additional-category" + id).find("#select-adv-category"));
      $(".frequency-select").select2({
        theme: 'bootstrap'
      });

      $("#additional-category" + id).find('.field').each(function(){
        var field_name = $(this).data('field');
        var add = field_name == 'frequencies' ? '[]' : '';
        $(this).attr("name","advisory[advisory_reasons_attributes][0][advisory_categories_attributes]["+category_count+"]["+field_name+"]" + add);
      });
      $('html, body').animate({ scrollTop: $("#additional-category" + id).offset().top }, 50);
    }
  </script>
<% end %>
