<div class="col-md-12">
  <div class="page-header">
    <span><b>Issuer:</b> <%= @advisory.user.first_name %></span><br>
    <span><b>Issued Date:</b> <%= @advisory.created_at.strftime('%B %-d, %Y') %></span>
    <span class="pull-right"><b>Advisory ID:</b> <%= @advisory.advisory_code %></h3>
  </div>
  <div class="view-memo">
    <div style="border: 1px solid #000; padding: 8px"><%= @advisory.user.user_department.description %></div>

    <% @advisory.advisory_reasons.each do |ar| %>
      <%  @ar = ar
          @category_ids = ar.advisory_categories.select('distinct(category_id)').order(:category_id).collect{|mc| mc.category_id} %>
      <table class="table table-bordered primary-reason">
        <tr>
          <td width="10%">
            <%= ('REASON' unless ar.reasons.blank?) || ('TIME AND DATE' unless ar.time_and_date.blank?) %>
          </td>
          <% unless ar.reasons.blank? %>
            <% Reason.where(id: ar.reasons).each do |r| %>
              <td width="1%"><%= r.reason %></td>
            <% end %>
          <% end %>
          <td></td>
        </tr>

        <% unless ar.remarks.blank? %>
          <tr>
            <td>REMARKS</td>
            <% unless ar.remarks.blank? %>
              <% Remark.where(id: ar.remarks).each do |r| %>
                <td><%= r.remark %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>

      </table>
      <%= render partial: "admin/advisory/format_fields/#{@advisory.user.decorate.department_code}_fields" %>
    <% end %>

    
    <div style="margin-bottom: 10px;"></div>
    <small>
      In coordination with: <%= @incoordination %>
    </small>

    <div class="pull-right below-btns" style="margin-bottom: 50px;">
      <% unless @advisory.is_viewable %>
          <% if @advisory.user_id == @user.id %>
            <% if @user.user_department_id == 8 %>
              <%= link_to 'Add Reason', "javascript: window.location.href = '/admin/advisory/new?sid=#{@advisory.sid}&add=true'", class: 'btn btn-primary', id: 'btn-add-avisory' %>
            <% end %>
          <% end %>

          <% if false %>
            <%= link_to 'Edit', "/admin/advisory/#{@advisory.sid}/edit", class: 'btn btn-primary', id: 'btn-edit', disabled: true %>
          <% end  %>
          <%= button_tag 'Send', class: 'btn btn-primary', id: 'btn-send', type: 'button' %>
      <% else %>
        <% if @advisory.user_id != @user.id %>
          <% if @user.user_department_id == 8 %>
            <%= link_to 'Create Advisory', "javascript: window.location.href = '/admin/advisory/new?sid=#{@advisory.sid}'", class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>
    </div>

   
  </div>
</div>
<%= render 'reply_thread' if @advisory.is_viewable %>
<%= hidden_field_tag 'hidden-sid', @advisory.sid %>
<%= render 'modal_password' %>
