<% if is_field :category_id %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Category:</label>
          </div>
          <div class="col-sm-8">
          <%= select('','', Category.where(id: @user.user_department.category_fields).order(:category).collect { |c| [c.category, c.id] }, { include_blank: true, selected: (ac.try(:category_id) || nil) }, id: 'select-category', class: "form-control field select-category select-category#{cnt}", 'data-field': 'category_id', onchange: "select_category_fields1(#{cnt})", name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][category_id]") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :effective_date %>
    <div class="form-group f" data-ids="4">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Effective Date:</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-date-picker field', 'data-field': 'effective_date', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][effective_date]", value: (ac.try(:effective_date) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :ac_registry %>
    <div class="form-group f" data-ids="2,3,4,5,6,7,8,9,10,11,12,13,15,16,17,18,19">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Aircraft Registry</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <span class="input-group-addon">RP-N</span>
              <%= text_field_tag nil, (ac.try(:ac_registry) || nil), class: 'form-control field', 'data-field': 'ac_registry', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][ac_registry]" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :flight_number %>
    <div class="form-group f" data-ids="4,6,7,8,9,10,11,12,13,15,16,17,18,19">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Flight Number</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <span class="input-group-addon">X</span>
              <%= text_field_tag nil, (ac.try(:flight_number) || nil), 'data-field': 'flight_number', class: 'form-control field', name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][flight_number]" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <% if is_field :flight_date %>
    <div class="form-group f" data-ids="6,7,8,9,10,11,12,13,15,16,17,18,19">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Flight Date</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field nil, nil, class: 'form-control has-date-picker field', 'data-field': 'flight_date', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][flight_date]", value: (ac.try(:flight_date) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :location %>
    <div class="form-group f" data-ids="1">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Location</label>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <%= hidden_field_tag nil, (ac.try(:location) || nil), id: 'hidden-location', class: 'form-control field', 'data-field': 'location', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][location]" %>
              <div class="col-sm-4">
                <%= select(nil, 'loc-loc', Location.all.order(:location).collect { |l| [l.location, l.location] }, { include_blank: true, selected: ac.try(:location).blank? ? nil : ac.location.split(' ')[0] }, class: 'form-control', onchange: 'flocation(this)' ) %>
              </div>
              <div class="col-sm-4">
                <%= text_field_tag 'loc-f1', ac.try(:location).blank? ? nil : ac.location.split(' ')[1], class: 'form-control', required: true, onkeyup: 'flocation(this)' %>
              </div>
              <div class="col-sm-4 has-input-group">
                <div class="input-group">
                  <%= text_field_tag 'loc-f2', ac.try(:location).blank? ? nil : ac.location.split(' ')[2], class: 'form-control', required: true, onkeyup: 'flocation(this)' %>
                  <span class="input-group-addon">nm</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :movement %>
    <div class="form-group f" data-ids="1">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Movement</label>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <%= hidden_field_tag nil, (ac.try(:movement) || nil), id: 'hidden-movement', class: 'form-control field', 'data-field': 'movement', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][movement]" %>
              <div class="col-sm-4">
                <%= select(nil, 'mvnt-loc', Location.all.order(:location).collect { |l| [l.location, l.location] }, { include_blank: true, selected: ac.try(:movement).blank? ? nil : ac.movement.split(' ')[0] }, class: 'form-control', onchange: 'fmovement(this)' ) %>
              </div>
              <div class="col-sm-4 has-input-group">
                <div class="input-group">
                  <%= text_field_tag 'mvnt-f1', ac.try(:movement).blank? ? nil : ac.movement.split(' ')[1], class: 'form-control', required: true, onkeyup: 'fmovement(this)' %>
                  <span class="input-group-addon">kts</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :max_wind %>
    <div class="form-group f" data-ids="1">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Max Wind</label>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <%= hidden_field_tag nil, (ac.try(:max_wind) || nil), id: 'hidden-max-wind', class: 'form-control field', 'data-field': 'max_wind', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][max_wind]" %>
              <div class="col-sm-4 has-input-group">
                <div class="input-group">
                  <%= text_field_tag 'mxwnd-f1', ac.try(:max_wind).blank? ? nil : ac.max_wind.split(' ')[0], class: 'form-control', required: true, onkeyup: 'fmaxwnd(this)' %>
                  <span class="input-group-addon">kts</span>
                </div>
              </div>
              <div class="col-sm-4">
                <%= text_field_tag 'mxwnd-f2', ac.try(:max_wind).blank? ? nil : ac.max_wind.split(' ')[1], class: 'form-control', required: true, onkeyup: 'fmaxwnd(this)' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :weather_forecast %>
    <div class="form-group f" data-ids="1">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Weather Forecast</label>
          </div>
          <div class="col-sm-8">
            <%= text_field_tag nil, (ac.try(:weather_forecast) || nil), class: 'form-control field', 'data-field': 'weather_forecast', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][weather_forecast]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if (is_field :route_origin)|| (is_field :route_destination) %>
    <div class="form-group f" data-ids="2,6,7,8,9,10,11,12,13,15,16,17,18,19">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Route</label>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <%= text_field_tag nil, (ac.try(:route_origin) || nil), class: 'form-control field', 'data-field': 'route_origin', placeholder: 'Origin', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][route_origin]" %>
              </div>
              <div class="col-sm-6">
                <%= text_field_tag nil, (ac.try(:route_destination) || nil), class: 'form-control field', 'data-field': 'route_destination', placeholder: 'Destination', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][route_destination]" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :ac_location %>
    <div class="form-group f" data-ids="2">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Aircraft Location</label>
          </div>
          <div class="col-sm-8">
            <%= text_field_tag nil, (ac.try(:ac_location) || nil), class: 'form-control field', 'data-field': 'ac_location', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][ac_location]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :tow_out %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Tow Out</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'tow_out', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][tow_out]", value: (ac.try(:tow_out) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :tow_in %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Towing In</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'tow_in', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][tow_in]", value: (ac.try(:tow_in) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :blocked_in %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Block In</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'blocked_in', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][blocked_in]", value: (ac.try(:blocked_in) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :aircraft_type_id %>
    <div class="form-group f" data-ids="6,7,8,9,10,11,12,15,16,17,18,19,13">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Aircraft Type</label>
          </div>
          <div class="col-sm-8">
            <%= select('', '', AircraftType.all.order(:ac_type).collect { |l| [l.ac_type, l.id] }, { include_blank: true, selected: ac.try(:aircraft_type_id).blank? ? nil : ac.aircraft_type_id }, 'data-field': 'aircraft_type_id', class: 'form-control field', name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][aircraft_type_id]") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :ac_configuration %>
    <div class="form-group f" data-ids="6,7,8,9,10,11,12,13,15,16,17,18,19">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Aircraft Configuration</label>
          </div>
          <div class="col-sm-8">
            <%= text_field_tag nil, (ac.try(:ac_configuration) || nil), 'data-field': 'ac_configuration', class: 'form-control field', name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][ac_configuration]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :ac_status_datetime %>
    <div class="form-group f" data-ids="2,5">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Date/Time</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control field has-datetime-picker', 'data-field': 'ac_status_datetime', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][ac_status_datetime]", value: (ac.try(:ac_status_datetime) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if (is_field :load_b) || (is_field :load_p) || (is_field :load_e) %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Load</label>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-4 has-input-group">
                <div class="input-group">
                  <span class="input-group-addon">B:</span>
                  <%= text_field_tag nil, (ac.try(:load_b) || nil), class: 'form-control field', 'data-field': 'load_b', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][load_b]" %>
                </div>
              </div>
              <div class="col-sm-4 has-input-group">
                <div class="input-group">
                  <span class="input-group-addon">P:</span>
                  <%= text_field_tag nil, (ac.try(:load_p) || nil), class: 'form-control field', 'data-field': 'load_p', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][load_p]" %>
                </div>
              </div>
              <div class="col-sm-4 has-input-group">
                <div class="input-group">
                  <span class="input-group-addon">E:</span>
                  <%= text_field_tag nil, (ac.try(:load_e) || nil), class: 'form-control field', 'data-field': 'load_e', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][load_e]" %>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :std %>
    <div class="form-group f" data-ids="6,8,10,11">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Standard Time Departure</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, 'data-field': 'std', class: 'form-control field has-time-picker', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][std]", value: (ac.try(:std) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :sta %>
    <div class="form-group f" data-ids="6,8,10,11">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Standard Time Arrival</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, 'data-field': 'sta', class: 'form-control field has-time-picker', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][sta]", value: (ac.try(:sta) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :nstd %>
    <div class="form-group f" data-ids="11">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">New Standard Time Departure</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, 'data-field': 'nstd', class: 'form-control field has-time-picker', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][nstd]", value: (ac.try(:nstd) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :nsta %>
    <div class="form-group f" data-ids="11">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">New Standard Time Arrival</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, 'data-field': 'nsta', class: 'form-control field has-time-picker', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][nsta]", value: (ac.try(:nsta) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :frequencies %>
    <div class="form-group f" data-ids="6,7,8,9,10,11,12">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Frequency</label>
          </div>
          <div class="col-sm-8">
            <%= select('', '', Frequency.all.order(:id).collect { |l| [l.frequency, l.id] }, {selected: ac.try(:frequencies).blank? ? nil : ac.frequencies}, 'data-field': 'frequencies', class: 'form-control field frequency-select', multiple: 'multiple', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][frequencies][]") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :cockpit_crew_boarded %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Cockpit Crew Boarded</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'cockpit_crew_boarded', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][cockpit_crew_boarded]", value: (ac.try(:cockpit_crew_boarded) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :cabin_crew_boarded %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Cabin Crew Boarded</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'cabin_crew_boarded', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][cabin_crew_boarded]", value: (ac.try(:cabin_crew_boarded) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :general_boarding %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">General Boarding</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'general_boarding', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][general_boarding]", value: (ac.try(:general_boarding) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :baggage_cargo_loaded %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Baggage and Cargo Loaded</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'baggage_cargo_loaded', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][baggage_cargo_loaded]", value: (ac.try(:baggage_cargo_loaded) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :close_door %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Closed Door</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'close_door', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][close_door]", value: (ac.try(:close_door) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :push_back %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Pushback</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'push_back', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][push_back]", value: (ac.try(:push_back) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :touchdown %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Touchdown</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'touchdown', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][touchdown]", value: (ac.try(:touchdown) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :air_bourne %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Airbourne</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'air_bourne', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][air_bourne]", value: (ac.try(:air_bourne) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :apu_inoperative %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Aircraft Power Unit Inoperative</label>
          </div>
          <div class="col-sm-8">
            <%= text_field_tag nil, (ac.try(:apu_inoperative) || nil), class: 'form-control field', required: true, 'data-field': 'apu_inoperative', name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][apu_inoperative]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :seat_blocks %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Seat Blocks</label>
          </div>
          <div class="col-sm-8">
            <%= text_field_tag nil, (ac.try(:seat_blocks) || nil), class: 'form-control field', required: true, 'data-field': 'seat_blocks', name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][seat_blocks]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :no_avi %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">No Alive Animals</label>
          </div>
          <div class="col-sm-8">
            <%= text_field_tag nil, (ac.try(:no_avi) || nil), class: 'form-control field', required: true, 'data-field': 'no_avi', name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][no_avi]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :restriction %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Restriction</label>
          </div>
          <div class="col-sm-8">
            <%= text_field_tag nil, (ac.try(:restriction) || nil), class: 'form-control field', required: true, 'data-field': 'restriction', name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][restriction]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :acu_problem %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Aircon Problem</label>
          </div>
          <div class="col-sm-8">
            <%= text_field_tag nil, (ac.try(:acu_problem) || nil), class: 'form-control field', required: true, 'data-field': 'acu_problem', name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][acu_problem]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :ac_on_ground %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Aircraft On Ground</label>
          </div>
          <div class="col-sm-8">
            <%= text_field_tag nil, (ac.try(:ac_on_ground) || nil), class: 'form-control field', required: true, 'data-field': 'ac_on_ground', name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][ac_on_ground]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :etd %>
    <div class="form-group f" data-ids="17,11,12">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Estimated Time Departure</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'etd', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][etd]", value: (ac.try(:etd) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :eta %>
    <div class="form-group f" data-ids="17,11,12">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Estimated Time Arrival</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'eta', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][eta]", value: (ac.try(:eta) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :netd %>
    <div class="form-group f" data-ids="11">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">New Estimated Time Departure</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'netd', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][netd]", value: (ac.try(:netd) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :neta %>
    <div class="form-group f" data-ids="11">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">New Estimated Time Arrival</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'neta', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][neta]", value: (ac.try(:neta) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :duration_of_delay %>
    <div class="form-group f" data-ids="11">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Duration Of Delay</label>
          </div>
          <div class="col-sm-8">
            <div class="input-group">
              <%= text_field_tag nil, nil, class: 'form-control has-time-picker field', 'data-field': 'duration_of_delay', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][duration_of_delay]", value: (ac.try(:duration_of_delay) || nil) %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :departure_terminal %>
    <div class="form-group f" data-ids="19,12">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Departure Terminal</label>
          </div>
          <div class="col-sm-8">
            <%= select('', '', [['Terminal A', 'A'], ['Terminal B', 'B'], ['Terminal C', 'C']], { include_blank: 'Select Terminal', selected: ac.try(:departure_terminal).blank? ? nil : ac.departure_terminal}, 'data-field': 'departure_terminal', class: 'form-control field', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][departure_terminal]")  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :arrival_terminal %>
    <div class="form-group f" data-ids="19,12">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Arrival Terminal</label>
          </div>
          <div class="col-sm-8">
            <%= select('', '', [['Terminal A', 'A'], ['Terminal B', 'B'], ['Terminal C', 'C']], { include_blank: 'Select Terminal', selected: ac.try(:arrival_terminal).blank? ? nil : ac.arrival_terminal }, 'data-field': 'arrival_terminal', class: 'form-control field', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][arrival_terminal]")  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :pax %>
    <div class="form-group f" data-ids="15,11">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Number Of Passenger</label>
          </div>
          <div class="col-sm-8">
            <%= text_field_tag nil, (ac.try(:pax) || nil), 'data-field': 'pax', class: 'form-control field', required: true, name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][pax]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if is_field :remarks %>
    <div class="form-group f" data-ids="2,3,4,5,6,7,8,9,10,11,12,13,15,16,17,18,19">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-right">
            <label class="form-label">Remarks</label>
          </div>
          <div class="col-sm-8">
            <%= text_area_tag nil, (ac.try(:remarks) || nil), class: 'form-control field', 'data-field': 'remarks', name: "advisory[advisory_reasons_attributes][0][advisory_categories_attributes][#{cnt}][remarks]" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
