<% cnt = 0 %>
<table class="table table-bordered category">
  <thead>
    <tr>
      <th>AIRCRAFT REGISTRY</th>
      <th>AIRCRAFT TYPE</th>
      <th>FLIGHT NUMBER</th>
      <th>FLIGHT DATE</th>
      <th>REMARKS</th>
    </tr>
  </thead>
  <tbody>
    <% @memo.memo_categories.order(:created_at).decorate.each do |mc| %>
      <tr>
        <td><%= mc.ac_registry %></td>
        <td><%= mc.aircraft_type %></td>
        <td><%= mc.flight_number %></td>
        <td><%= mc.flight_date.try(:strftime, '%m-%d-%y (%a)') %></td>
        <td><%= mc.remarks %></td>
      </tr>
    <% end %>
  </tbody>
</table>
