<%= @ar.fields_for :advisory_categories do |ac|%>
  <div class="form-group">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-right">
          <label class="form-label">Effective Date:</label>
        </div>
        <div class="col-sm-9">
          <div class="input-group">
            <%= ac.text_field :effective_date, class: 'form-control has-date-picker field', 'data-field': 'effective_date', required: true %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-right">
          <label class="form-label">Aircraft Registry</label>
        </div>
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">RP-N</span>
            <%= ac.text_field :ac_registry, class: 'form-control field', 'data-field': 'ac_registry', required: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-right">
          <label class="form-label">Flight Number</label>
        </div>
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">X</span>
            <%= ac.text_field :flight_number, class: 'form-control field', 'data-field': 'flight_number', required: true %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-right">
          <label class="form-label">Load</label>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-4 has-input-group">
              <div class="input-group">
                <span class="input-group-addon">B:</span>
                <%= ac.text_field :load_b, class: 'form-control field', 'data-field': 'load_b', required: true %>
              </div>
            </div>
            <div class="col-sm-4 has-input-group">
              <div class="input-group">
                <span class="input-group-addon">P:</span>
                <%= ac.text_field :load_p, class: 'form-control field', 'data-field': 'load_p', required: true %>
              </div>
            </div>
            <div class="col-sm-4 has-input-group">
              <div class="input-group">
                <span class="input-group-addon">E:</span>
                <%= ac.text_field :load_e, class: 'form-control field', 'data-field': 'load_e', required: true %>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-right">
          <label class="form-label">Remarks</label>
        </div>
        <div class="col-sm-9">
          <%= ac.text_area :remarks, class: 'form-control field', 'data-field': 'remarks' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
