<%= @ar.fields_for :advisory_categories do |ac|%>
  <div class="form-group">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-right">
          <label class="form-label">Category:</label>
        </div>
        <div class="col-sm-9">
        <%= ac.select :category_id, Category.where(id: [6..12]).order(:category).collect { |c| [c.category, c.id] }, { include_blank: true }, id: 'select-category', class: 'form-control field', 'data-field': 'category_id', onchange: 'select_category(this)' %>
        </div>
      </div>
    </div>
  </div>

  <div id="category-6" class="hidden div-category">
    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Date</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :flight_date, class: 'form-control has-date-picker field', 'data-field': 'flight_date', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Number</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">X</span>
              <%= ac.text_field :flight_number, 'data-field': 'flight_number', class: 'form-control field', required: true %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Route</label>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-6">
                <%= ac.text_field :route_origin, 'data-field': 'route_origin', class: 'form-control field', placeholder: 'Origin' %>
              </div>
              <div class="col-sm-6">
                <%= ac.text_field :route_destination, 'data-field': 'route_destination', class: 'form-control field', placeholder: 'Destination' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Registry</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">RP-N</span>
              <%= ac.text_field :ac_registry, 'data-field': 'ac_registry', class: 'form-control field' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Type</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :aircraft_type_id, AircraftType.all.order(:ac_type).collect { |l| [l.ac_type, l.id] }, { include_blank: true }, 'data-field': 'aircraft_type_id', class: 'form-control field' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Configuration</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_field :ac_configuration, 'data-field': 'ac_configuration', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Standard Time Departure</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :std, 'data-field': 'std', class: 'form-control field has-time-picker', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Standard Time Arrival</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :sta, 'data-field': 'sta', class: 'form-control field has-time-picker', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Frequency</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :frequencies, Frequency.all.order(:id).collect { |l| [l.frequency, l.id] }, {}, 'data-field': 'frequencies', class: 'form-control field frequency-select', multiple: 'multiple', required: true %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Remarks</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_area :remarks, 'data-field': 'remarks', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="category-7" class="hidden div-category">
    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Date</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :flight_date, class: 'form-control has-date-picker field', 'data-field': 'flight_date', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Number</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">X</span>
              <%= ac.text_field :flight_number, 'data-field': 'flight_number', class: 'form-control field', required: true %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Route</label>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-6">
                <%= ac.text_field :route_origin, 'data-field': 'route_origin', class: 'form-control field', placeholder: 'Origin' %>
              </div>
              <div class="col-sm-6">
                <%= ac.text_field :route_destination, 'data-field': 'route_destination', class: 'form-control field', placeholder: 'Destination' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Registry</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">RP-N</span>
              <%= ac.text_field :ac_registry, 'data-field': 'ac_registry', class: 'form-control field' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Type</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :aircraft_type_id, AircraftType.all.order(:ac_type).collect { |l| [l.ac_type, l.id] }, { include_blank: true }, 'data-field': 'aircraft_type_id', class: 'form-control field' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Configuration</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_field :ac_configuration, 'data-field': 'ac_configuration', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Frequency</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :frequencies, Frequency.all.order(:id).collect { |l| [l.frequency, l.id] }, {}, 'data-field': 'frequencies', class: 'form-control field frequency-select', multiple: 'multiple', required: true %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Remarks</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_area :remarks, 'data-field': 'remarks', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="category-8" class="hidden div-category">
    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Date</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :flight_date, class: 'form-control has-date-picker field', 'data-field': 'flight_date', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Number</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">X</span>
              <%= ac.text_field :flight_number, 'data-field': 'flight_number', class: 'form-control field', required: true %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Route</label>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-6">
                <%= ac.text_field :route_origin, 'data-field': 'route_origin', class: 'form-control field', placeholder: 'Origin' %>
              </div>
              <div class="col-sm-6">
                <%= ac.text_field :route_destination, 'data-field': 'route_destination', class: 'form-control field', placeholder: 'Destination' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Registry</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">RP-N</span>
              <%= ac.text_field :ac_registry, 'data-field': 'ac_registry', class: 'form-control field' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Type</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :aircraft_type_id, AircraftType.all.order(:ac_type).collect { |l| [l.ac_type, l.id] }, { include_blank: true }, 'data-field': 'aircraft_type_id', class: 'form-control field' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Configuration</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_field :ac_configuration, 'data-field': 'ac_configuration', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Standard Time Departure</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :std, 'data-field': 'std', class: 'form-control field has-time-picker', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Standard Time Arrival</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :sta, 'data-field': 'sta', class: 'form-control field has-time-picker', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Frequency</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :frequencies, Frequency.all.order(:id).collect { |l| [l.frequency, l.id] }, {}, 'data-field': 'frequencies', class: 'form-control field frequency-select', multiple: 'multiple', required: true %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Remarks</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_area :remarks, 'data-field': 'remarks', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="category-9" class="div-category">
    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Date</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :flight_date, class: 'form-control has-date-picker field', 'data-field': 'flight_date', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Number</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">X</span>
              <%= ac.text_field :flight_number, 'data-field': 'flight_number', class: 'form-control field', required: true %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Route</label>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-6">
                <%= ac.text_field :route_origin, 'data-field': 'route_origin', class: 'form-control field', placeholder: 'Origin' %>
              </div>
              <div class="col-sm-6">
                <%= ac.text_field :route_destination, 'data-field': 'route_destination', class: 'form-control field', placeholder: 'Destination' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Registry</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">RP-N</span>
              <%= ac.text_field :ac_registry, 'data-field': 'ac_registry', class: 'form-control field' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Type</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :aircraft_type_id, AircraftType.all.order(:ac_type).collect { |l| [l.ac_type, l.id] }, { include_blank: true }, 'data-field': 'aircraft_type_id', class: 'form-control field' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Configuration</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_field :ac_configuration, 'data-field': 'ac_configuration', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Frequency</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :frequencies, Frequency.all.order(:id).collect { |l| [l.frequency, l.id] }, {}, 'data-field': 'frequencies', class: 'form-control field frequency-select', multiple: 'multiple', required: true %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Remarks</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_area :remarks, 'data-field': 'remarks', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="category-10" class="hidden div-category">
    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Date</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :flight_date, class: 'form-control has-date-picker field', 'data-field': 'flight_date', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Number</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">X</span>
              <%= ac.text_field :flight_number, 'data-field': 'flight_number', class: 'form-control field', required: true %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Route</label>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-6">
                <%= ac.text_field :route_origin, 'data-field': 'route_origin', class: 'form-control field', placeholder: 'Origin' %>
              </div>
              <div class="col-sm-6">
                <%= ac.text_field :route_destination, 'data-field': 'route_destination', class: 'form-control field', placeholder: 'Destination' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Registry</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">RP-N</span>
              <%= ac.text_field :ac_registry, 'data-field': 'ac_registry', class: 'form-control field' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Type</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :aircraft_type_id, AircraftType.all.order(:ac_type).collect { |l| [l.ac_type, l.id] }, { include_blank: true }, 'data-field': 'aircraft_type_id', class: 'form-control field' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Configuration</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_field :ac_configuration, 'data-field': 'ac_configuration', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Standard Time Departure</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :std, 'data-field': 'std', class: 'form-control field has-time-picker', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Standard Time Arrival</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :sta, 'data-field': 'sta', class: 'form-control field has-time-picker', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Frequency</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :frequencies, Frequency.all.order(:id).collect { |l| [l.frequency, l.id] }, {}, 'data-field': 'frequencies', class: 'form-control field frequency-select', multiple: 'multiple', required: true %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Remarks</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_area :remarks, 'data-field': 'remarks', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div id="category-11" class="hidden div-category">
    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Date</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :flight_date, class: 'form-control has-date-picker field', 'data-field': 'flight_date', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Number</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">X</span>
              <%= ac.text_field :flight_number, 'data-field': 'flight_number', class: 'form-control field', required: true %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Route</label>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-6">
                <%= ac.text_field :route_origin, 'data-field': 'route_origin', class: 'form-control field', placeholder: 'Origin' %>
              </div>
              <div class="col-sm-6">
                <%= ac.text_field :route_destination, 'data-field': 'route_destination', class: 'form-control field', placeholder: 'Destination' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Registry</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">RP-N</span>
              <%= ac.text_field :ac_registry, 'data-field': 'ac_registry', class: 'form-control field' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Type</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :aircraft_type_id, AircraftType.all.order(:ac_type).collect { |l| [l.ac_type, l.id] }, { include_blank: true }, 'data-field': 'aircraft_type_id', class: 'form-control field' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Configuration</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_field :ac_configuration, 'data-field': 'ac_configuration', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Standard Time Departure</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :std, 'data-field': 'std', class: 'form-control field has-time-picker', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Standard Time Arrival</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :sta, 'data-field': 'sta', class: 'form-control field has-time-picker', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">New Standard Time Departure</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :nstd, 'data-field': 'nstd', class: 'form-control field has-time-picker', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">New Standard Time Arrival</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :nsta, 'data-field': 'nsta', class: 'form-control field has-time-picker', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Frequency</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :frequencies, Frequency.all.order(:id).collect { |l| [l.frequency, l.id] }, {}, 'data-field': 'frequencies', class: 'form-control field frequency-select', multiple: 'multiple', required: true %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Remarks</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_area :remarks, 'data-field': 'remarks', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="category-12" class="hidden div-category">
    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Date</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <%= ac.text_field :flight_date, class: 'form-control has-date-picker field', 'data-field': 'flight_date', required: true %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Flight Number</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">X</span>
              <%= ac.text_field :flight_number, 'data-field': 'flight_number', class: 'form-control field', required: true %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Route</label>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-6">
                <%= ac.text_field :route_origin, 'data-field': 'route_origin', class: 'form-control field', placeholder: 'Origin' %>
              </div>
              <div class="col-sm-6">
                <%= ac.text_field :route_destination, 'data-field': 'route_destination', class: 'form-control field', placeholder: 'Destination' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Registry</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">RP-N</span>
              <%= ac.text_field :ac_registry, 'data-field': 'ac_registry', class: 'form-control field' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Type</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :aircraft_type_id, AircraftType.all.order(:ac_type).collect { |l| [l.ac_type, l.id] }, { include_blank: true }, 'data-field': 'aircraft_type_id', class: 'form-control field' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Aircraft Configuration</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_field :ac_configuration, 'data-field': 'ac_configuration', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Frequency</label>
          </div>
          <div class="col-sm-9">
            <%= ac.select :frequencies, Frequency.all.order(:id).collect { |l| [l.frequency, l.id] }, {}, 'data-field': 'frequencies', class: 'form-control field frequency-select', multiple: 'multiple', required: true %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 text-right">
            <label class="form-label">Remarks</label>
          </div>
          <div class="col-sm-9">
            <%= ac.text_area :remarks, 'data-field': 'remarks', class: 'form-control field' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
