<div class="col-md-12">
  <div class="page-header">
    <h3>Central Flight Dispatch</h3>
  </div>
  <%= render 'message' %>
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @memo, url: { controller: 'memo', action: 'create' }, html: { method: :post, class: 'form-horizontal' } do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <div class="col-md-5 text-right">
              <label class="form-label">A/C R</label>
            </div>
            <div class="col-md-4">
              <%= f.select :aircraft_registry_id, options_for_select(AircraftRegistry.all.order(:aircraft_name).collect { |a| [a.aircraft_name, a.id] }), {}, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-5 text-right">
              <label class="form-label">Flight Date</label>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <%= f.date_field :flight_date, class: 'form-control', required: true %>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-5 text-right">
              <label class="form-label">Purpose</label>
            </div>
            <div class="col-md-4">
              <%= f.text_area :purpose, class: 'form-control', required: true %>
            </div>
          </div>
          
          <%= f.fields_for :load do |p| %>
            <div class="form-group">
              <div class="col-md-5 text-right">
                <label class="form-label">Load</label>
              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                    <div class="form-group">
                      <%= p.number_field :seat_number, class: '', required: true, min: 1, max: 50 %>
                    </div>
                    <div class="form-group">
                      <%= p.select :specific_cabin, options_for_select(Admin::MemoController::MemoCabin.collect{ |a| [a, a] }), { include_blank: 'Select Specific Cabin' }, class: 'form-control', required: true %>
                    </div>
                </div>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <div class="col-md-5 text-right">
              <label class="form-label">Weather Condition</label>
            </div>
            <div class="col-md-4">
              <%= f.text_area :weather_condition, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-5 text-right">
              <label class="form-label">Remarks</label>
            </div>
            <div class="col-md-4">
              <%= f.text_area :remarks, class: 'form-control', required: true %>
            </div>
          </div>

        </div>
        <div class="panel-footer text-right">
          <%= f.button 'Submit', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
