<div class="col-md-12">
  <div class="page-header">
    <h3>Lufthansa Teknik Philippines</h3>
  </div>
  <%= render 'message' %>
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @memo, url: { controller: 'memo', action: 'create' }, html: { method: :post, class: 'form-horizontal' } do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">
          
          <div class="form-group">
            <div class="col-md-6 text-right">
              <label class="form-label">Aircraft Flight Schedule / International For</label>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <%= f.date_field :international_flight_date, class: 'form-control', required: true %>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6 text-right">
              <label class="form-label">AC / R</label>
            </div>
            <div class="col-md-4">
              <%= f.select :aircraft_registry_id, options_for_select(AircraftRegistry.all.order(:aircraft_name).collect { |a| [a.aircraft_name, a.id] }), {}, class: 'form-control', required: true %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6 text-right">
              <label class="form-label">Flight Number</label>
            </div>
            <div class="col-md-4">
              <%= f.text_field :flight_number, class: 'form-control', required: true %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6 text-right">
              <label class="form-label">Remarks</label>
            </div>
            <div class="col-md-4">
              <%= f.text_area :remarks, class: 'form-control', required: true %>
            </div>
          </div>
          
        </div>
        <div class="panel-footer text-right">
          <%= f.button 'Submit', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
</div>
