<% cnt = 0 %>
<table class="table table-bordered category">
  <thead>
    <tr>
      <th>AIRCRAFT REGISTRY</th>
      <th>TOW OUT</th>
      <th>TOW IN</th>
      <th>BLOCKED IN</th>
      <th>COCKPIT CREW BOARDED</th>
      <th>CABIN CREW BOARDED</th>
      <th>GENERAL BOARDING</th>
      <th>BAGGAGE AND CARGO LOADED</th>
      <th>CLOSED DOOR</th>
      <th>PUSHBACK</th>
      <th>AIRBOURNE</th>
      <th>REMARKS</th>
    </tr>
  </thead>
  <tbody>
    <% @ar.advisory_categories.order(:created_at).decorate.each do |mc| %>
      <tr>
        <td><%= mc.ac_registry || 'N/A' %></td>
        <td><%= mc.tow_out.try(:strftime, '%k%Mz') || 'N/A'  %></td>
        <td><%= mc.tow_in.try(:strftime, '%k%Mz') || 'N/A'  %></td>
        <td><%= mc.blocked_in.try(:strftime, '%k%Mz') || 'N/A'  %></td>
        <td><%= mc.cockpit_crew_boarded.try(:strftime, '%k%Mz') || 'N/A'  %></td>
        <td><%= mc.cabin_crew_boarded.try(:strftime, '%k%Mz') || 'N/A'  %></td>
        <td><%= mc.general_boarding.try(:strftime, '%k%Mz') || 'N/A'  %></td>
        <td><%= mc.baggage_cargo_loaded.try(:strftime, '%k%Mz') || 'N/A'  %></td>
        <td><%= mc.close_door.try(:strftime, '%k%Mz') || 'N/A'  %></td>
        <td><%= mc.push_back.try(:strftime, '%k%Mz') || 'N/A'  %></td>
        <td><%= mc.air_bourne.try(:strftime, '%k%Mz') || 'N/A' %></td>
        <td><%= mc.remarks %></td>
      </tr>
    <% end %>
  </tbody>
</table>
