<% cnt = 0 %>
<table class="table table-bordered category">
  <thead>
    <tr>
      <th>APU INOP</th>
      <th>SEAT BLKS</th>
      <th>NO AVI</th>
      <th>RESTRICTION</th>
      <th>ACU PROB</th>
      <th>AOG</th>
      <th>REMARKS</th>
    </tr>
  </thead>
  <tbody>
    <% @ar.advisory_categories.order(:created_at).each do |mc| %>
      <tr>
        <td><%= mc.apu_inoperative || 'N/A' %></td>
        <td><%= mc.seat_blocks || 'N/A' %></td>
        <td><%= mc.no_avi || 'N/A' %></td>
        <td><%= mc.restriction || 'N/A' %></td>
        <td><%= mc.acu_problem || 'N/A' %></td>
        <td><%= mc.ac_on_ground || 'N/A' %></td>
        <td><%= mc.remarks || 'N/A' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
