<% cnt = 0 %>
<table class="table table-bordered category">
  <thead>
    <tr>
      <th>CATEGORY</th>
      <th>AIRCRAFT REGISTRY</th>
      <th>EFFECTIVE DATE</th>
      <th>FLIGHT NUMBER</th>
      <th>DATE</th>
      <th>REMARKS</th>
    </tr>
  </thead>
  <tbody>
    <% Category.where(id: @category_ids).order(:category).each do |c| %>
      <% @ar.advisory_categories.where(category_id: c.id).order(:created_at).each do |mc| %>
        <tr>
          <td><%= c.category unless cnt > 0 %></td>
          <td><%= mc.ac_registry || 'N/A' %></td>
          <td><%= mc.effective_date.try(:strftime, '%m-%d-%y (%a)') || 'N/A' %></td>
          <td><%= mc.flight_number || 'N/A' %></td>
          <td><%= mc.ac_status_datetime.try(:strftime, '%m-%d-%y (%a)') || 'N/A' %></td>
          <td><%= mc.remarks || 'N/A' %></td>
        </tr>
        <% cnt += 1 %>
      <% end %>
      <% cnt = 0 %>
    <% end %>
  </tbody>
</table>
