<%= form_for [:admin, @users], html: { class: 'form-horizontal' } do |f|%>
  <div class="form-group">
    <div class="col-md-2">
      <label class="form-label">Email</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :email, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <label class="form-label">First Name</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :first_name, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <label class="form-label">Last Name</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :last_name, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <label class="form-label">Department</label>
    </div>
    <div class="col-md-10">
      <%= f.select :user_department_id, UserDepartment.where(is_enable: true).where.not(id: [1]).order(:description).collect { |ud| [ud.description, ud.id] }, { include_blank: true }, class: 'form-control', required: true %>
    </div>
  </div>

  <% unless params[:action] == 'edit' || true %>
    <div class="form-group">
      <div class="col-md-2">
        <label class="form-label">Password</label>
      </div>
      <div class="col-md-10">
        <%= f.password_field :password_digest, class: 'form-control', required: true %>
      </div>
    </div>
  <% end %>

  <% if params[:action] == 'edit' %>
    <div class="form-group">
      <div class="col-md-2">
        <label class="form-label">Password</label>
      </div>
      <div class="col-md-10">
        Reset to default password?&nbsp;&nbsp;
        <%= button_tag 'Reset', class: 'btn btn-primary btn-sm', type: 'button', id: 'btn-reset-password', 'data-id': f.object[:id] %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-2">
      <label class="form-label">Status</label>
    </div>
    <div class="col-md-4">
      <%= f.select :status_id, Status.all.order(:description).collect { |s| [s.description, s.id] }, { include_blank: true }, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <%= f.button params[:action] == 'edit' ? 'Update' : 'Submit', class: 'btn btn-primary' %>
      <a href='javascript: alert("Default password is P@ssword")' style="margin-left: 5px; font-size: 20px; vertical-align: middle; color: #a94442">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
      </a>
    </div>
  </div>
<% end %>
  