<div class="col-sm-10 col-sm-offset-1 lists-users">
  <div class="page-header">
    <h3>
      <span class="glyphicon glyphicon-user"></span> User Lists
      <a href="/admin/users/new" class="btn btn-primary pull-right btn-add">+</a>
    </h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Status</th>
          <th>Department</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
          <tr>
            <td><%= u.email %></td>
            <td><%= u.name %></td>
            <td><%= u.status.description %></td>
            <td><%= u.user_department.description %></td>
            <td class="cell-control">
              <a href="/admin/users/<%= u.id %>/edit">
                <span class="glyphicon glyphicon-pencil"></span> Edit
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
