<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-4">
        <%= text_field_tag 'tb-created-search', nil, class: 'form-control', placeholder: 'Search', 'data-dept': 'advisory' %>
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <%= date_field_tag nil, nil, id: 'created-flight-date', class: 'form-control', 'data-dept': 'advisory' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="col-sm-2">
        <%= select(nil, nil, AdvisoryCategory.select('distinct(ac_registry)').where.not(ac_registry: nil).order(:ac_registry).collect { |a| [a.ac_registry, a.ac_registry] }, {include_blank: 'All AC Registry'}, class: 'form-control', id: 'created-ac-registry') %>
      </div>
      <div class="col-sm-2">
        <%= select(nil, nil, AdvisoryCategory.select('distinct(flight_number)').where.not(flight_number: nil).order(:flight_number).collect { |a| [a.flight_number, a.flight_number] }, {include_blank: 'All Flight Number'}, class: 'form-control', id: 'created-flight-number') %>
      </div>
    </div>
  </div>
  <div class="panel-body memo-lists">
    <%= render partial: 'admin/advisory/created/body' %>
  </div>
</div>
