<div class="panel panel-default">
  <div class="panel-heading search-panel">
    <div class="row">
      <div class="col-sm-4 mb15">
        <%= text_field_tag 'tb-created-search', nil, class: 'form-control', placeholder: 'Search', 'data-dept': 'advisory' %>
      </div>
      <div class="col-sm-4 mb15">
        <div class="col-sm-3">
          <div class="row">
            <label class="form-label">Flight Date:</label>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="input-group">
              <%= date_field_tag nil, nil, id: 'created-flight-date', class: 'form-control', 'data-dept': 'advisory' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb15">
        <div class="col-sm-5">
          <div class="row">
            <label class="form-label">Aircraft Plate No.:</label>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="input-group">
              <span class="input-group-addon">RP-N</span>
              <%= text_field_tag 'created-ac_registry', nil, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb15">
        <div class="col-sm-3">
          <div class="row">
            <label class="form-label">Flight No.:</label>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="input-group">
              <span class="input-group-addon">X</span>
              <%= text_field_tag 'created-flight_number', nil, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body memo-lists">
    <%= render partial: 'admin/advisory/created/body' %>
  </div>
</div>
